@charset "UTF-8";
@media(max-width:1199px){
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none;}
a{text-decoration: none; color: black;}

header{width: 100%; height: auto; display: flex; z-index: 100;justify-content: space-around; 
align-items: center; margin:0 auto; position: absolute; background-color: #000000;
flex-direction: column; opacity: 0.6; position: fixed;}
.logom{width: 100%; height: 150px; display: flex; justify-content: space-around;
align-items: center;}
header .logoa{width: auto; height: auto;}
header img{color: white; width: 280px; height: 24px;}
header nav{width: 100%; height: 500px; display: flex; flex-direction: column; 
justify-content: center; display: none;}
header nav ul{height: 300px; font-size: 18px; font-weight:530; 
display: flex; justify-content: space-around; align-items: center; 
flex-direction: column;}
header nav ul li a{color: white; width: 100%; height: 100%;}
header nav ul li a:hover{opacity: 0.7;}
.other{width: 100%; height:200px; display: flex; flex-direction: column; justify-content: center;}
.other li{width: 60%; height: 35px; margin: 20px 0; text-align: center;
border: 2px solid white;}
.other li a{width: 709px; height: 36px;}
.menu{width: 100px; height: 50px;}


footer{width: 700px; height: 100px; position: absolute; z-index: 3;
top: 85%; right: 3%; display: flex; align-items: center; }
footer .footer{width: 100%; height: 100%; display: none;}
footer .footer div{margin: 7px 0; display: none;}
.footer1{width: 100%; height: auto; margin-right: 20px;}
.footer1 ul{width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: end;}
.footer1 ul li{width: 50px; height: 100%; color: white; font-size: 25px; }
.footer1 ul li a{color: white; opacity: 0.6;}
.footer1 ul li a:hover{opacity: 0.7;}

.footer2{width: 100%; height: auto;}
.footer2 ul{ width: 100%; height: auto; display: flex; flex-direction: row; justify-content: end;} 
.footer2 ul li{margin: 0 10px; font-size: 15px; font-weight: bold; padding: 0 10px;} 
.footer2 ul li a{color: white; opacity: 0.6;}
.footer2 ul li a:hover{opacity: 0.7;}

.footer3{width: 100%; height: auto;}
.footer3 ul{width: 100%; height: 14px; display: flex;flex-direction: row; justify-content: end; }
.footer3 ul .footer3_1{width: 90px; font-size: 14px; display: flex; justify-content: center; margin: 0 20px; 
 font-weight: bold; text-align: center;}
.footer3 ul .footer3_2{font-size: 14px; font-weight: bold; width: 130px;display:flex; justify-content: center;} 
.footer3 ul li a{color: white; opacity: 0.6;} 
.footer3 ul li a:hover{opacity: 0.7;}


/* .midfooter{width: 100%; height: 1000px; background-color: #000000;} */
}