@charset "UTF-8";
@media(min-width:1200px){}


.mainbox{width: 100%; height: 100vh; position: relative; display: flex; align-items: center; 
justify-content: center; min-height: 810px; overflow-y: hidden; background-color: #000;}

.mainbox ul{ display: flex; position: relative; align-items: center;justify-content: center;
width: 100%; height: 100vh; min-height: 810px; overflow-y: hidden;}
.mainbox ul li{width: 20%;}