@charset "UTF-8";
@media(max-width:1199px){
.mainbox{display: none;}
.ds,.blood,.elden,.seki,.dera{display: none;}

.elden2{width: 100%; height: auto; margin: 0 auto; position: relative;}
.elden2 img{width: 100%; height: 1300px;}
.elden2 .more{width: 100%;}

}