@charset "UTF-8";
@media(min-width:1200px){

body {width:100%; overflow:hidden; }

.elden2{display: none;}

.mainbox{width: 108%; height: 100vh; position: relative; display: flex; align-items: center; 
justify-content: center; min-height: 810px; overflow-x: hidden; overflow-y: hidden; background-color: #000;}
.mainbox ul{ display: flex; position: relative; align-items: center;justify-content: center;
width: 100%; height: 100vh; min-height: 810px; overflow: hidden;}
.mainimg{display: flex; align-items: center;
justify-content: center; width: calc( ( 100vw * 1.2 ) / 5); height: 100%; 
transform: skewX(-20deg); transition: all 0.5s ease-in-out; }
.img{ position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%;
transition: opacity 0.8s;}

.mainimg:nth-child(1) .img{width: 60vw; background: url(../img/darksoul/darksoul_b.jpg) 
no-repeat center/cover; transform: skewX(20deg) translateX(-350px);transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(1){width: 30%; transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(1):hover{width: 40%; }
.mainimg:nth-child(1):hover .img{width: 70vw; background: url(../img/darksoul/darksoul_a.jpg) 
no-repeat center/cover; transition: all 0.5s ease-in-out ;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.mainimg:nth-child(1):hover .dsl{display: block;   transition: all 0.5s ease-in-out ;}
.dsl{display: none;  position: absolute; z-index: 1; left: 50%; top: 50%;
width: 300px; height: 200px; transform: skew(20deg) translate(-40%,-50%); animation: fadein 1s;}
 
    

.mainimg:nth-child(2) .img{width: 60vw; background: url(../img/bloodborne/bloodborne_b.jpg) 
no-repeat center/cover; transform: skewX(20deg) translateX(-20vw);transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(2){width: 30%; transition: all 0.5s ease-in-out ; overflow: hidden; }
.mainimg:nth-child(2):hover{width: 40%; }
.mainimg:nth-child(2):hover .img{width: 70vw; background: url(../img/bloodborne/bloodborne_a.jpg) 
    no-repeat center/cover; transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(2):hover .img{width: 70vw; background-position: center; transition: all 0.5s ease-in-out ;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.mainimg:nth-child(2):hover .bbl{display: block;   transition: all 0.5s ease-in-out ;}
.bbl{display: none;  position: absolute; z-index: 1; left: 50%; top: 50%;
width: 300px; height: 200px; transform: skew(20deg) translate(-40%,-50%); animation: fadein 1s;}

.mainimg:nth-child(3) .img{width: 60vw; background: url(../img/eldenring/eldenring_b.jpg) 
no-repeat center/cover; transform: skewX(20deg) translateX(-20vw);transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(3){width: 30%; transition: all 0.5s ease-in-out ; overflow: hidden;}
.mainimg:nth-child(3):hover{width: 40%;}
.mainimg:nth-child(3):hover .img{width: 70vw; background: url(../img/eldenring/eldenring_a.jpg) 
    no-repeat center/cover; transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(3):hover .img{width: 70vw; background-position: center; transition: all 0.5s ease-in-out ;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.mainimg:nth-child(3):hover .erl{display: block;   transition: all 0.5s ease-in-out ;}
.erl{display: none;  position: absolute; z-index: 1; left: 50%; top: 50%;
width: 300px; height: 200px; transform: skew(20deg) translate(-40%,-50%); animation: fadein 1s;}

.mainimg:nth-child(4) .img{width: 100vw; background: url(../img/sekiro/sekiro_b.jpg) 
no-repeat center/cover; transform: skewX(20deg) translateX(-37vw);transition: all 0.5s ease-in-out ; display: block;}
.mainimg:nth-child(4){width: 30%; transition: all 0.5s ease-in-out ; overflow: hidden; }
.mainimg:nth-child(4):hover{width: 40%;}
.mainimg:nth-child(4):hover .img{width: 70vw; background: url(../img/sekiro/sekiro_a.jpg) 
    no-repeat center/cover; transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(4):hover .img{width: 100vw; background-position: center;transition: all 0.5s ease-in-out ;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.mainimg:nth-child(4):hover .srl{display: block;   transition: all 0.5s ease-in-out ;}
.srl{display: none;  position: absolute; z-index: 1; left: 50%; top: 50%;
width: 300px; height: 200px; transform: skew(20deg) translate(-40%,-50%); animation: fadein 1s;}

.mainimg:nth-child(5) .img{width: 60vw; background: url(../img/deracine/deracine_b.jpg) 
no-repeat center/cover; transform: skewX(20deg) translateX(-350px);transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(5){width: 30%; transition: all 0.5s ease-in-out ;overflow: hidden;}
.mainimg:nth-child(5):hover{width: 40%;}
.mainimg:nth-child(5):hover .img{width: 70vw; background: url(../img/deracine/deracine_a.jpg) 
    no-repeat center/cover; transition: all 0.5s ease-in-out ;}
.mainimg:nth-child(5):hover .img{width: 70vw; background-position: center; transition: all 0.5s ease-in-out ;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.mainimg:nth-child(5):hover .dcl{display: block;   transition: all 0.5s ease-in-out ;}
.dcl{display: none;  position: absolute; z-index: 1; left: 50%; top: 50%;
width: 300px; height: 200px; transform: skew(20deg) translate(-60%,-50%); animation: fadein 1s;}


.ds{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0;
overflow: hidden; background-color: #000;}
.ds .dssli img{width: 100%; height: 100vh; min-height: 810px; opacity: 0.9; position: relative;}
.ds .dstxt{width:500px; height: 500px; position: absolute; z-index:5; 
top: 25%; right: 10%; color: white; opacity: 0.9;}
.ds .dstxt .dsbtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.ds .dstxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.ds .dstxt .dsbtn:hover{opacity: 0.8;}
.ds .dstxt .dsbtn a:hover{opacity: 0.8;}

.blood{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0;overflow: hidden;}
.blood .bldsli img{width: 100%; height: 100vh; min-height: 810px;}
.blood .bbcon ul li{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.blood .bbtxt{width:550px; height: 500px; position: absolute; z-index:5; 
top: 25%; left: 10%; color: white; opacity: 0.9;}
.blood .bbtxt .bbbtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.blood .bbtxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.blood .bbtxt .bbbtn:hover{opacity: 0.8;}
.blood .bbtxt .bbbtn a:hover{opacity: 0.8;} 

.elden{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0;overflow: hidden;}
.elden .eldsli img:nth-child(1){width: 100vw; height: 100vh; min-height: 810px;}
.elden .eldsli img:nth-child(2){display: none;}
.elden .elcon ul{width: 100%; display: flex; justify-content: start;}
.elden .elcon ul li{margin: 0 7px 0 0;}
.elden .elcon ul .ps5{width: 60px; height: 18px; background-color: black; 
text-align: center; font-size: 14px;}
.elden .elcon ul .ps4{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.elden .elcon ul .xb{width: 130px; height: 18px; background-color: #0d7e14; 
text-align: center; font-size: 14px;}
.elden .elcon ul .Xb{width: 100px; height: 18px; background-color: #00bc49; 
text-align: center; font-size: 14px;}
.elden .elcon ul .pc{width: 60px; height: 18px; background-color: #7c7c7c; 
text-align: center; font-size: 14px;}
.elden .eltxt{width:550px; height: 500px; position: absolute; z-index:5; 
top: 25%; right: 5%; color: white; opacity: 0.9;}
.elden .eltxt .elbtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.elden .eltxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.elden .eltxt .elvi{width: 288px; height: 162px;}
.elden .eltxt .elvi:hover{opacity: 0.7;}
.video{width: 100%; height: 100%; background-color: rgba(0,0,0, 0.7); position: absolute;
top: 0; left: 0; z-index: 6; }
.video iframe{opacity: 1; position: absolute; top: 20%; left: 25%; width: 50%; height: 60%;
border: 0;}
.elden .eltxt .elbtn:hover{opacity: 0.8;}
.elden .eltxt .elbtn a:hover{opacity: 0.8;}  

.seki{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0;overflow: hidden;}
.seki .sekisli img{width: 100%; height: 100vh; min-height: 810px;}
.seki .secon ul{width: 100%; display: flex; justify-content: start;}
.seki .secon ul li{margin: 0 7px 0 0;}
.seki .secon ul .st{width: 70px; height: 18px; background-color: #f27765; 
text-align: center; font-size: 14px;}
.seki .secon ul .ps4{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.seki .secon ul .Xb{width: 100px; height: 18px; background-color: #00bc49; 
text-align: center; font-size: 14px;}
.seki .secon ul .pc{width: 60px; height: 18px; background-color: #7c7c7c; 
text-align: center; font-size: 14px;}
.seki .setxt{width:550px; height: 500px; position: absolute; z-index:5; 
top: 25%; left: 10%; color: white; opacity: 0.9;}
.seki .setxt .sebtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.seki .setxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.seki .setxt .sevi{width: 288px; height: 162px;}
.seki .setxt .sevi img{width: 100%; height: 100%;}
.seki .setxt .sevi:hover{opacity: 0.7;} 
.video1{width: 100%; height: 100%; background-color: rgba(0,0,0, 0.7); position: absolute;
top: 0; left: 0; z-index: 6; }
.video1 iframe{opacity: 1; position: absolute; top: 20%; left: 25%; width: 50%; height: 60%;
border: 0;}
.seki .setxt .sebtn:hover{opacity: 0.8;}
.seki .setxt .sebtn a:hover{opacity: 0.8;} 

.dera{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0; overflow: hidden;}
.dera .derasli img{width: 100%; height: 100vh; min-height: 810px; position: absolute; top: 0; left: 0;}
.dera .decon ul li{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.dera .detxt{width:550px; height: 500px; position: absolute; z-index:5; 
top: 25%; left: 10%; color: white; opacity: 0.9;}
.dera .detxt .debtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.dera .detxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.dera .detxt .debtn:hover{opacity: 0.8;}
.dera .detxt .debtn a:hover{opacity: 0.8;}  

.cbtn{width: 50px; height: 50px; position: absolute; z-index: 1; cursor: pointer; right: 3%; top: 45%;}
.cbtn img{width: 100%; height: 100%;}
.cbtn:hover{opacity: 0.5;}
}