@charset "UTF-8";
@media(max-width:1199px){
.mainbox{display: none;}
.ds,.blood,.elden,.seki,.dera{display: none;}
body{}

.elden2{width: 100%; height: auto; margin: 0 auto;}
.elden2 .midel{width: 100%; height: 1300px;  position: relative;}
.elden2 .more{width: 100%; height: 105px; position: absolute; z-index: 1;
top: 125%; margin: 0 auto; display: flex; justify-content: center;}
.elden2 .more .more2{width: 585px; height: auto;}
.elden2 .more .more2 img{cursor: pointer; width: 100%; height: auto;}
.elden2 .more .more2 img:hover{opacity: 0.6;}

.moregame{width: 100%; height: auto; overflow: hidden;}
.moregame .moregame2{width: 4728px; height: auto; display: flex; flex-direction: row;
overflow: hidden;}
.moregame .moregame2 div{width: 100%; height: 100%;}
.moregame div img{width: 100%; height: 100%;}

.midmenu{width: 100%; height: 1000px; display: flex; flex-direction: column; align-items: center;
justify-content: center; background-color: #0F0F0F; margin-top: 100px;}
.midmenu a{width: 100%; height: 100%; font-size: 3em; display: flex; 
justify-content: center; align-items: center; color: white;}
.midmenu hr{width: 100%;}






.elden{width: 100%; height: 100%; min-height: 810px; position: fixed; top: 0; left: 0; 
overflow: hidden; z-index: 5; }
.elden .eldsli img:nth-child(1){display: none;}
.elden .eldsli img:nth-child(2){width: 100%; height: 100%; transform: scale(2) translateY(-20%);}
.elden .elcon ul{width: 100%; display: flex; justify-content: start;}
.elden .elcon ul li{margin: 0 7px 0 0;}
.elden .elcon ul .ps5{width: 60px; height: 18px; background-color: black; 
text-align: center; font-size: 14px;}
.elden .elcon ul .ps4{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.elden .elcon ul .xb{width: 130px; height: 18px; background-color: #0d7e14; 
text-align: center; font-size: 14px;}
.elden .elcon ul .Xb{width: 100px; height: 18px; background-color: #00bc49; 
text-align: center; font-size: 14px;}
.elden .elcon ul .pc{width: 60px; height: 18px; background-color: #7c7c7c; 
text-align: center; font-size: 14px;}
.elden .eltxt{width:100%; height: 100%; position: absolute; z-index:5; 
top: 25%; right: -20%; color: white; opacity: 0.9; }
.elden .eltxt .elbtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.elden .eltxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.elden .eltxt .elvi{width: 288px; height: 162px;}
.elden .eltxt .elvi:hover{opacity: 0.7;}
.video{width: 100%; height: 100%; background-color: rgba(0,0,0, 0.7); position: absolute;
top: 0; left: 0; z-index: 6;}
.video iframe{opacity: 1; position: absolute; top: 20%; left: 15%; width: 70%; height: 60%;}
.elden .eltxt .elbtn:hover{opacity: 0.8;}
.elden .eltxt .elbtn a:hover{opacity: 0.8;} 
.eldenbgc{width: 100%; height: 100%; background-color: rgba(0,0,0, 0.7); position: absolute; top: 0; left: 0;}


.dera{width: 100%; height: 100%; min-height: 810px; position: fixed; top: 0; left: 0; z-index: 5; overflow: hidden;}
.dera .derasli img{width: 100%; height: 100%; min-height: 810px; transform: scale(3) translateY(-30%) translateX(-25%);
position: absolute; top: 0; left: 0;}
.dera .decon ul li{width: 60px; height: 18px; background-color: #0c75f5; 
text-align: center; font-size: 14px;}
.dera .detxt{width:550px; height: 500px; position: absolute; z-index:5; 
top: 25%; left: 10%; color: white; opacity: 0.9;}
.dera .detxt .debtn{width: 200px; height: 50px; border: 3px solid white; color: white;}
.dera .detxt a{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
color: white;}
.dera .detxt .debtn:hover{opacity: 0.8;}
.dera .detxt .debtn a:hover{opacity: 0.8;} 







.cbtn{width: 100px; height: 100px; position: absolute; z-index: 6; 
cursor: pointer; right: 40%; top: 85%; transform: translate(-85%, -40%);}
.cbtn:hover{opacity: 0.5;}

}